@import url(root.css);

/*fix sizing error*/
.cardDisplayGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 500px));*/
    border-radius: var(--standartBorderRadius);
    background-color: var(--lightGrey);
    height: 100%;
    width: 100%;
    padding: 15px;
    gap: 15px;
    justify-items: center;
    overflow: hidden;
}

.displayCardGrid {
    border-radius: var(--standartBorderRadius);
    max-width: 600px;
    aspect-ratio: 2/1;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
}

.displayHalf {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayHalf2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayImage {
    max-height: 90%;
    max-width: 90%;
    border-radius: var(--standartBorderRadius);
}

.displayTitle {
    max-height: 10%;
    max-width: 90%;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    overflow: visible;
}

.textSeparator {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--lightGrey);
}

.displayParagraph {
    max-height: 80%;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}