@import url(root.css);

/*fix sizing error*/
.cardDisplayGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: var(--standartBorderRadius);
    background-color: var(--lightGrey);
    height: 100%;
    max-width: 100%;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
    justify-content: center;
}

.displayCardGrid {
    display: inline-block;
    border-radius: var(--standartBorderRadius);
    height: 270px;
    width: 270px;
    aspect-ratio: 1/1;
    background-color: var(--grey);
    display: inline-block;
    padding: 15px;
    border: none;
    text-align: center;
}

.displayImage {
    max-width: 98%;
    max-height: 98%;
}

@media only screen and (max-width: 855px) {

    .displayCardGrid {
        border-radius: var(--standartBorderRadius);
        height: 150px;
        width: 150px;
        padding: 7px;
    }

}