@import url(root.css);

.cardDisplayGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border-radius: 10px;
    background-color: var(--lightGrey);
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.displayCardGrid {
    border-radius: 10px;
    max-width: 600px;
    /*aspect-ratio: 2/1;*/
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
}

@media only screen and (max-width: 700px) {
    .displayCardGrid {
        /*aspect-ratio: 1/2;*/
        flex-direction: column;
        max-width: auto;
        max-height: 600px;
    }
}

.displayHalfGrid {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayHalf2Grid {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayImageGrid {
    max-height: 90%;
    max-width: 90%;
}

.displayTitleGrid {
    max-height: 10%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.textSeparatorGrid {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--lightGrey);
}

.displayParagraphGrid {
    max-height: 80%;
    margin: 0px;
    overflow: hidden;
}