@import url(root.css);

body {
    overflow: hidden;
}

.bookInfoCard {
    background-color: var(--lightGrey);
    border-radius: var(--standartBorderRadius);
    height: 80dvh;
    width: 80dvw;
    display: flex;
    flex-direction: row;
}

.bookInfoCardHalf {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    border-radius: var(--standartBorderRadius);
    background-color: var(--grey);
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-height: 90%;
}

.bookInfoImage {
    max-height: 90%;
    max-width: 90%;
    border-radius: var(--standartBorderRadius);
    object-fit: contain;
}

.bookInfoText {
    max-height: 10%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: 0px;
}

.textNoMargin {
    margin: 5px;
}

.filesDisplay {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border-radius: var(--standartBorderRadius);
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100px;
    width: 90%;
    background-color: var(--grey);
    justify-content: start;
    border: 20px;
    border-color: var(--darkGrey);
}

.filesDisplay::-webkit-scrollbar {
    display: none; 
}

.fileRow {
    background-color: var(--grey);
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(10%, calc(50% - 10px)));*/
    grid-template-columns: repeat(minmax(10%, 45%));
    align-items: center;
    gap: 10px;
    height: calc(var(--fontSize) *2);
}

.fileRow:hover {
    background-color: var(--lightGrey);
}

.fileRowElement {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: var(--fontSize);
    height: 70%;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}