:root {
    --menuSize: 350px;
    --headerHeight: 75px;
    --standartBorderRadius: 10px;

    --fontColor: rgb(255, 255, 255);
    /*--font: 'Dancing Script', cursive;
    --font: 'Montserrat', sans-serif;*/
    --font: 'Noto Sans', sans-serif;
    --fontSize: 16px;

    --linkColor: rgb(255, 255, 255);
    --menuColor: rgb(30, 28, 28);

    --linkOnHover: rgb(255, 0, 0);
    --onHoverColor: rgb(80, 80, 80);
    --onFocusColor: rgb(80, 80, 80);

    --black: rgb(0, 0, 0);
    --darkGrey: rgb(30, 28, 28);
    --grey: rgb(40, 40, 40);
    --lightGrey: rgb(80, 80, 80);
    --white: rgb(255, 255, 255);
    --red: rgb(255, 0, 0);
    --green: rgb(40, 200, 0);   
}

div {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--fontColor);
}

a:hover {
    color: var(--linkOnHover);
}

button {
    cursor: pointer;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}