@import url(root.css);

/*@media  (max-width: 980) and (orientation: landscape)*/
/*@media only screen and (min-width: 980px)*/

header {
    width: 100dvw;
    grid-area: header;
    position: fixed;
    height: var(--headerHeight);
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--black);
    color: var(--white);
    z-index: 5;
}

.border {
    border-style: var(--grey);
    border: 0px;
    padding: 5px;
}

.forms {
    padding: 20px;
    background-color: var(--darkGrey);
    width: 95%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: var(--standartBorderRadius);
    color: var(--fontColor);
}

.formElement {
    width: 100%;
    border-radius: var(--standartBorderRadius);
    color: var(--fontColor);

}

.formButton {
    width: 200px;
    border-radius: var(--standartBorderRadius);
    color: var(--fontColor);

}

.formElementColor {
    background-color: var(--grey);
    border-color: var(--grey);
}

.formElementColor:hover {
    background-color: var(--onHoverColor);
}

.formElementColor:focus {
    background-color: var(--onFocusColor);
}

.menu {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menuSize);
    z-index: 6;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 95%;
    gap: 10px;
    z-index: 7;
}

.pfpContainerCorner {
    border-radius: 50%;
    background-color: var(--grey);
    border: 2px;
    border-color: var(--grey);
    border-style: solid;
    z-index: 8;
    overflow: hidden;
}

.userInfoContainer {
    border-radius: 0%;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.infoContainer {
    display: flex;
    width: 150px;
    padding: 5px;
    align-items: center;
}

.pfpImg {
    aspect-ratio: 1/1;
    height: 50px;
    border-radius: 0%;
}

.pfpContainerCorner:hover {
    border-color: var(--onHoverColor);
}

.websiteName {
    font-size: var(--fontSize);
    justify-self: center;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--headerHeight);
}

@media only screen and (max-width: 980px) {
    .webTitle {
        width: 0px;
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
    .websiteName {
        width: 0px;
        visibility: hidden;
    }
}

.logo {
    justify-self: center;
    align-self: center;
    height: 70px;
    border: -2px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu2 {
    justify-self: end;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menuSize);
}

.searchArea {
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

.searchBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    flex-direction: row;
    font-size: var(--fontSize);
    margin: 0px;
}

.searchInput {    
    position: relative;
    width: 100%;
    padding: 5px;
    padding-right: 115px;
    padding-left: 10px;
    background-color: var(--grey);
    border-style: var(--grey);
    color: var(--white);
    z-index: 1;
    border-radius: 20px;
    outline: none;
}

.searchInput:hover {
    background-color: var(--onHoverColor);
}

.searchInput:focus {
    background-color: var(--onFocusColor);
}

.delButton {
    position: absolute;
    color: var(--white);
    right: 80px;
    aspect-ratio: 1/1;
    height: 100%;
    text-align: center;
    background-color: var(--grey);
    border-style: solid, var(--grey);
    z-index: 2;
    outline: none;
}

.delButton:hover {
    background-color: var(--onHoverColor);
}

.delButton:focus {
    background-color: var(--onFocusColor);
}

.delButton:active {
    background-color: var(--red);
}

.searchButton {
    position: absolute;
    color: var(--white);
    right: 0%;
    height: 100%;
    width: 80px;
    text-align: center;
    background-color: var(--grey);
    border-style: solid, var(--grey);
    z-index: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
}

.searchButton:hover {
    background-color: var(--onHoverColor);
}

.searchButton:focus {
    background-color: var(--onFocusColor);
}

.searchButton:active {
    background-color: var(--green);
}

.sideMenu {
    position: fixed;
    width: 300px;
    left: -250px;
    height: calc(100dvh - var(--headerHeight)) ;
    top: var(--headerHeight);
    background-color: var(--menuColor);
    z-index: 2;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: left ease-in-out 400ms;
}

.sideMenu::-webkit-scrollbar {
    display: none; 
}

.sideMenu:hover {
    left: 0px;
    transition: left ease-in-out 400ms;
}

.sideMenu:focus-within {
    left: 0px;
    transition: left ease-in-out 400ms;
}

.sideMenuContent {
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.sideMenuLink {
    font-size: 1.5rem;
    color: var(--linkColor);
}

.sideMenuLink:focus + .sideMenu {
    left: 0px;
    
}

.sideMenuSeparator {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--grey);
}

.lowerBody {
    left: 50px;
    background-color: var(--grey);
    position: absolute;
    top: 75px;
    width: calc(100dvw - 150px);
    display: flex;
    padding: 50px;
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: calc(100dvh - 75);*/
}

.noResult {
    margin: 50px;
    border-radius: var(--standartBorderRadius);
    width: 80%;
    background-color: var(--red);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    place-self: center;  
}

/*fix sizing error*/
.cardDisplayGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    border-radius: var(--standartBorderRadius);
    background-color: var(--lightGrey);
    height: 100%;
    width: 100%;
    padding: 15px;
    gap: 15px;
    justify-items: center;
    overflow: hidden;
}

.displayCardGrid {
    border-radius: var(--standartBorderRadius);
    max-width: 600px;
    aspect-ratio: 2/1;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
}

.displayHalf {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayHalf2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayImage {
    max-height: 90%;
    max-width: 90%;
    border-radius: var(--standartBorderRadius);
}

.displayTitle {
    max-height: 10%;
    max-width: 90%;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    overflow: visible;
}

.textSeparator {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--lightGrey);
}

.displayParagraph {
    max-height: 80%;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonContainer {
    border-radius: var(--standartBorderRadius);
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: var(--grey);
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.pageButton {
    /*width: 20px;*/
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}